{% load i18n %}

<div class="module">
    <h2>{% trans 'My Tasks' %}</h2>
    <table width="100%">
        {% if tasks %}
        <tr>
            <th style="width:50%">Item</th>
            <th style="width:25%">Status</th>
            <th style="width:25%">Last change by</th>
        </tr>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td><a href="{{ task.content_object.admin_url }}">{{ task.content_object }}</a></td>
                <td>{{ task.status }}</td>
                <td>{% if task.change_user == user %}You{% else %}{{ task.change_user }}{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% else %}
        <tr><td colspan="3"><i>No tasks at the moment</i></td></tr>
        {% endif %}
    </table>
</div>

