{% load i18n %}

<div class="submit-row" {% if is_popup %}style="overflow: auto;"{% endif %}>
    {% if show_delete_link %}<p class="deletelink-box"><a href="delete/" class="deletelink">{% trans "Delete" %}</a></p>{% endif %}
    <strong style="font-size:larger">Current Status: {{ current_status.1 }}</strong>
    {% if author %}
    <input type="submit" value="{% trans 'Save as draft' %}" class="default" name="save_draft" {{ onclick_attrib }}/>
    <input type="submit" value="{% trans 'Save for approval' %}" name="save_pending" {{ onclick_attrib }}/>
    {% else %}
    {% if publisher %}
    <input type="submit" value="{% trans 'Publish now' %}" class="default" name="save_published" {{ onclick_attrib }}/>
    <input type="submit" value="{% trans 'Save as approved' %}" name="save_approved" {{ onclick_attrib }}/>
    <input type="submit" value="{% trans 'Save as rejected' %}" name="save_rejected" {{ onclick_attrib }}/>
    {% else %}
    {% if show_save %}<input type="submit" value="{% trans 'Save' %}" class="default" name="_save" {{ onclick_attrib }}/>{% endif %}
    {% if show_save_as_new %}<input class="change-view-save-new" type="submit" value="{% trans 'Save as new' %}" name="_saveasnew" {{ onclick_attrib }}/>{%endif%}
    {% if show_save_and_add_another %}<input class="change-view-save-another" type="submit" value="{% trans 'Save and add another' %}" name="_addanother" {{ onclick_attrib }} />{% endif %}
    {% endif %}
    {% endif %}
    {% if show_save_and_continue %}<input class="change-view-save-continue" type="submit" value="{% trans 'Save and continue editing' %}" name="_continue" {{ onclick_attrib }}/>{% endif %}
</div>
